.event {
    border-radius: 10px;
    padding: 20px;
    width: 100vw;
    overflow-x: hidden;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top:150px;
    padding-bottom: 150px;
  }
  
.AboutEventTitle{
    font-size: 2.8rem;
    color: rgb(222, 222, 222);
    text-transform: uppercase;
    /* text-shadow: 0 0 65px #9d2eb0; */
    position: relative;
    display: inline-block; 
    margin-bottom:60px;
    text-align: center;
    font-weight: 600;
}

.CardGroup{
    display: flex;
    gap: 40px;
}


  