.cardNeon {
    overflow: visible;
    width: 100%;
    height: 254px;
    margin-top: 20px;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
.back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #e24bfc, #e24bfc, #e24bfc, #e24bfc, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(360deg);
    }
  
    100% {
      transform: rotateZ(20deg);
    }
  }

  .cardTitle{
    text-transform: uppercase;
    color: #e24bfc;
    font-size: 2rem;
  }

  .cardTitle2{
    text-transform: uppercase;
  }