/* GlobalPage.css */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body{
    background-color: #151515;
  }
  .global-page {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #151515;
    min-height: 100vh;
  }

  .hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden ;
  }

  .imgG{
    width:80%;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .content {
    text-align: center;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .titleGlobal {
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px #0056b3;
    text-shadow: 0 0 35px #9d2eb0;
    position: relative;
    display: inline-block; 
    margin-bottom:60px;
    text-align: center;
  }
  .titleGlobal::after {
    content: "";
    position: absolute;
    bottom: -30px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 5px; /* Thickness of the line */
    background-color: #9d2eb0; /* Color of the line */
    box-shadow: 0 0 35px #9d2eb0;
    margin: 0;
  }

  .titleGlobal-desc{
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
  }
  
  .buttons {
    margin-top: 30px;
  }
  
  .button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #9d2eb0;
    box-shadow: 0 0 35px #9d2eb0;
    text-transform: uppercase;
    /* transition: transform 4s ease-in-out, scale 500ms 1.02 ease-in-out; */
    transition: all 0.5s ease-out;
  }
  
  .button:hover {
    transform: scale(1.04);
  }


.h-underline-6{
    position: relative;
}
.h-underline-6::after{
    color: #9d2eb0 !important;
    content: '';
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    /* Adjust the width of the line */
    height: 3px;
    /* Adjust the height of the line */
    background-color: #9d2eb0;
    /* Line color */
}



.loader {
  position: relative;
  width: 64px;
  height: 60px;
}
.loader::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
  animation: move 0.5s linear infinite alternate;
}
.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  background: #9d2eb0;
  width: 24px;
  height: 24px;
  transform: translateX(-50%) rotate(0deg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% { transform: translateX(-50%) rotate(360deg)}
}
@keyframes move {
  0% { transform: rotate(10deg)}
  100% { transform: rotate(-10deg)}
}
  