/* schedule.css */
.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #ffffff;
    padding: 40px;
    padding-top:80px;
    padding-bottom: 80px;
  }


  .scheduleHeader{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom:60px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
    /* background-repeat: repeat; */
    width: 100vw;
    height: 100px;
}
  

  .scheduleTitle{
    font-size: 2.8rem;
    color: #4F4F4F;
    text-transform: uppercase;
    /* text-shadow: 0 0 65px #9d2eb0; */
    position: relative;
    display: inline-block; 
    margin-bottom:60px;
    text-align: center;
    font-weight: 600;
    padding: 20px;
  }
  .day-selector {
    margin-bottom: 20px;
  }
  
  .day-selector button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #151515;
    cursor: pointer;
    color: white;
  }
  
  .day-selector button.active {
    color: white;
    background-color: #e24bfc;

  }
  
  .activities {
    /* border: 1px solid #ccc; */
    padding: 20px;
    color: white;
  }
  
  .activities h2 {
    margin-bottom: 10px;
  }
  
  .time {
    font-weight: bold;
    margin-right: 5px;
  }

  .sheduleButton{
    display: flex;
    gap: 10px;

  }

  .day{
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
  }

  .active .day{
    color: #ffffff;
  }





  .dayBtn {
    overflow: visible;
    height: 40px;
  }

  .dayBtnContent {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
    overflow: hidden;
  }

  button.active .dayBtnContent {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow:none;
    border-radius: 5px;
    overflow: hidden;
    background-color: #e24bfc;
    color: black;
  }

  .dayBtnBack {
    width: 100%;
    height: 94%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  button.active .dayBtnBack::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 30px;
    background-color: #e24bfc;
    height: 180%;
    background: linear-gradient(90deg, transparent, #e24bfc, #e24bfc, #e24bfc, #e24bfc, transparent);
    animation:alternate;
  }


  .dayBtnBack::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 180%;
    background: linear-gradient(90deg, transparent, #9d2eb0, #9d2eb0, #9d2eb0, #9d2eb0, transparent);
    animation: rotation_481 5000ms infinite linear;
  }

  .dayBtnBackContent {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .active .dayBtnBackContent {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #e24bfc;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }


  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }

  .dayPlanning{
    border: 1px solid black;
  }


  