.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #FEFEFE;
    padding: 40px;
    padding-top:80px;
    padding-bottom: 80px;
    color: #151515;
  }


  .sponsorsheader{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom:60px;
    text-align: center;
    justify-content: center;
    /* font-weight: 600; */
    /* background-color: rgb(255, 255, 255); */
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
    /* background-repeat: repeat; */
    width: 100vw;
    height: 150px;
}
.sponsorTitle{
    font-size: 2.8rem;
    color: #151515;
    text-transform: uppercase;
    /* text-shadow: 0 0 65px #9d2eb0; */
    position: relative;
    display: inline-block; 
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

.sponsorsheader p{
    color: #9d2eb0;
}

.sponsorName{
    color: #9d2eb0;
}

.onesponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 150px;
}

.sponsorimage{
    width: 60%;
}

.sponsorOfficiel{
    width: 100% !important;
}

.sponsorDxc{
    width: 70% !important;
}